<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>679316861070-uphtlh0uc8mlj6j2ve2vgm479tf2nc21.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.679316861070-uphtlh0uc8mlj6j2ve2vgm479tf2nc21</string>
	<key>API_KEY</key>
	<string>AIzaSyCdOdhWQNdPlepwnxzmsMmJ9YK_DZN-m08</string>
	<key>GCM_SENDER_ID</key>
	<string>679316861070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EgeAydemir.FirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-b20db</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-b20db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:679316861070:ios:516611953705d44eba99df</string>
</dict>
</plist>